$font-ubuntu: "Ubuntu", sans-serif;

// primary color
$color-marine-blue: #02295a;
$color-purplish-blue: #473dff;
$color-pastel-blue: #adbeff;
$color-light-blue: #bfe2fd;
$color-strawberry-red: #ed3548;

// neutral color
$color-cool-gray: #9699ab;
$color-light-gray: #d6d9e6;
$color-magnolia: #f0f6ff;
$color-alabaster: #fafbff;
$color-white: #ffffff;
